<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NvrIp" value="172.16.26.96"/>
    <add key="NvrPort" value="8080"/>
    <add key="NvrAccount" value="admin"/>
    <add key="NvrPwd" value="123456"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
